.nacrti {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.4;
    font-size: 15px;
    text-align: justify;
}

.nacrtiHead {
    font-weight:bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    line-height: 1.4;
    font-size: 27px;
}

.listSpace {
   margin:0 0 10px 0;
}